@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0 30px;
  max-width: 1392px;
  margin: 0 auto;
}

body {
  background: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--colorlight);
}

:root {
  --white: #dfdfdf;
  --themeblack: #131313;
  --greybg: #6c6c6c33;
  --primary: #51fffd;
  --btnbg: #0c2f2f;
  --colorlight: #ebebeb;
  --basecolor: #103333;
  --grey: #77798f;
  --darkgrey: #92939e;
  --maroon: #c61a3e33;
  --red: #c61a3e;
  --green: #219653;
  --lighttitle: #ecf1f0;
  --basecolorlight: #51fffd33;
  --wireframegrey: #c6c6c6;
  --themeblack2: #1d1429;
  --greydark: #b1b1b1;
}

h3.sec-head {
  font-size: 42px;
  font-weight: 600;
}
h3.mid-head {
  font-size: 21px;
  font-weight: 500;
}
h3.mid-head.white {
  color: #fff;
}
h3.sec-head.white {
  color: #fff;
}

.container-sm {
  max-width: 1041px;
  margin: 0 auto;
}
